*DS_Store*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Flask stuff:
instance/
.webassets-cache

# JS stuff
.browserslistrc
.editorconfig
.eslintrc.js
package-lock.json
*node_modules*

learning/*/Google Photo CSVs/*.csv
learning/*/*/*.jpg
*trainingdata.db