<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Country-Bot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">

    <script>
      async function get_latest_stats(statsArray) {
        // Query server for requested data
        try {
          let queryParams = statsArray.join('&');
          let resp = await fetch(`/data?${queryParams}`);
          return await resp.json();
        } catch {
          return null;
        }
      }

      async function initialize() {
        // Get all data from server
        let stats = await get_latest_stats(['cam', 'dist', 'odom', 'moves']);
        updateDOMWithStats(stats);
        // Add event listeners for move buttons
        document.querySelector('.moveStraight').addEventListener('click', moveCar.bind(this, 's'))
        document.querySelector('.moveRight').addEventListener('click', moveCar.bind(this, 'r'))
        document.querySelector('.moveLeft').addEventListener('click', moveCar.bind(this, 'l'))
      }
      
      function updateDOMWithStats(stats) {
        if (stats.dist) {
          document.querySelector('.forwarddistance').textContent = stats.dist;
        }
        if (stats.moves) {
          document.querySelector('.moves').textContent = stats.moves;
        }
        if (stats.odom) {
          document.querySelector('.odometer').textContent = stats.odom;
        }
      }
      
      async function moveCar(direction) {
        // Query server for requested data
        try {
          let resp = await fetch(`/move?${direction}`);
          let moveResult = await resp.json();
          if (moveResult.success === true) {
            let stats = await get_latest_stats(['odom', 'moves']);
            updateDOMWithStats(stats);
          }
        } catch {
          console.error('move failed!');
          return null;
        }
      }

      setInterval(async function() {
        let stats = await get_latest_stats(['dist']);
        updateDOMWithStats(stats);
      }, 4000)
    </script>
  </head>

  <body onload="initialize()">
    <div class="controls">
      <button class="moveStraight">Move Straight</button>
      <button class="moveRight">Move Right</button>
      <button class="moveLeft">Move Left</button>
    </div>
    <div class="data">
      <img src="/camera" alt="Live View of Car" class="camera" />
      <div>
        Forward Sensor Distance:&nbsp;
        <span class="forwarddistance">...</span>
      </div>
      <div>
        Moves:&nbsp;
        <span class="moves">...</span>
      </div>
      <div>
        Odometer:&nbsp;
        <span class="odometer">...</span>
      </div>
    </div>
  </body>
</html>